.form-label{
    color: white;
}
.AddProductFormContainer {
    justify-content: center;
    display: grid;
    place-items: center; /* Formu sayfanın ortasına hizalar */
    width: 100%; /* Sayfa genişliğinde yer kaplar */
}

.AddProductForm {
    padding-left: 20%;

    width: 80%; /* Formun genişliğini ayarlar */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Sütunları eşit olarak böler */
    grid-gap: 10px; /* Öğeler arasındaki boşluk */
}
