.snize-thumbnail {
    display: block;
    position: relative;
    text-align: center;
    height: 300px;
    /* max-width: 100%; */
}
.LaptopPageDesktopsMain {
    padding: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: black;
}
.LaptopPageimage {
    display: flex;
    justify-content: center;
    width: 66.666667%;
    /* max-height: 525px; */
    background-color: #c3c3c3;
}

.LaptopPageimageInside img {
<<<<<<< HEAD
=======
<<<<<<< Updated upstream
    width: 60%;
}

.LaptopPageimagegallery {
    width: 30%;
}
.LaptopPageimagegallery img {
    width: 100%;
}
=======
>>>>>>> 405ef563bbaab54065b22971f3144edb1d6e0898
    width: 100%;
}

.LaptopPageimagegallery {
    width: 20%;
}
.LaptopPageimagegallery img {
    max-width: 104px;
    object-fit: contain;
    height: 104px;
}

<<<<<<< HEAD
=======
>>>>>>> Stashed changes
>>>>>>> 405ef563bbaab54065b22971f3144edb1d6e0898
.LaptopPageimagegalleryone {
    cursor: pointer;
    border: 1px solid rgb(68, 68, 68);
    margin: 20px;
    background-color: #ffffff;
}
.LaptopPageimagegalleryone.selected {
    background-color: #000;
    border: 2px solid red; /* veya başka bir renk */
}
.LaptopPageimageInside .Modal {
    align-items: center;
    display: flex;
    justify-content: center;
}
.LaptopPagerightside {
    width: 50%;
    padding: 30px;
    background-color: #ffffff;
    color: black;
}

.LaptopPagerightside_right_side_ h1 {
    font-size: 26px;
    font-weight: 700;
}
.LaptopPagerightsideStars .fa-star {
    font-size: 15px;
    color: gold;
    padding: 1px;
}
.LaptopPagerightsideStarsmain {
    padding-top: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.LaptopPagerightsideStars {
    justify-content: center;
    width: auto;
    display: flex;
    align-items: center;
}
.LaptopPagerightsideStarshare {
    text-align: center;
}
.LaptopPagerightsideStarshare button {
    background-color: #fff;
    border: 1px solid #2a2a2a;
    border-radius: 5px;
    padding: 0 15px;
    height: 25px;
}
.LaptopPagerightsidePrice span {
    color: #000;
    font-size: 26px;
    line-height: 30px;
    font-family:
        HCo Gotham SSm,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
    font-weight: 700;
}
.LaptopPagerightsideSpecifationoption {
    display: flex;
    width: 100%;
    align-items: center;
}
.LaptopPagerightsideSpecifationoptionimg {
    width: 7%;
}
.LaptopPagerightsideSpecifationoptionimg img {
    width: 100%;
}
.LaptopPagerightsideSpecifationoptiontext {
    padding-left: 20px;
    width: 80%;
}
.LaptopPagerightsidePrice span {
    color: white;
}
/* !LaptopPageImageClick */
.LaptopPageImageClick {
    width: 100%;
    /* display: none; */
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: 1000; /* Adjust the value as needed */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.swiper {
    width: 80%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}

.mySwiper {
    height: 75%;
    width: 30%;
}

.mySwiper2 .swiper-slide {
    height: 100%;
    width: 100%;
    opacity: 0.4;
}
.mySwiper2 .swiper-slide-thumb-active {
    opacity: 1;
}
.mySwiper2 img {
    width: 50%;
    height: 100%;
}
.mySwiper img {
    display: block;
    height: 100%;
    height: 50vh;
    object-fit: cover;
}
.swiper-button-next,
.swiper-button-prev {
    color: #ff0000;
}
.LaptopPageimagegallery {
<<<<<<< HEAD
    width: 20%;
=======
<<<<<<< Updated upstream
    width: 30%;
=======
    width: 20%;
>>>>>>> Stashed changes
>>>>>>> 405ef563bbaab54065b22971f3144edb1d6e0898
}
/* !LaptopPageInfo */
.LaptopPageInfo {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200000;
<<<<<<< HEAD
    background-color: #c3c3c3;
=======
<<<<<<< Updated upstream
    background-color: rgb(255, 255, 255);
=======
    background-color: #c3c3c3;
>>>>>>> Stashed changes
>>>>>>> 405ef563bbaab54065b22971f3144edb1d6e0898
    display: flex;
    justify-content: center;
    align-items: center;
}

.LaptopPageInfoSlide {
    top: 20%;
    width: 50%;
    text-align: -webkit-center;
    /* height: 40vh; */
<<<<<<< HEAD
=======
<<<<<<< Updated upstream
    /* background-color: #ff0000; */
}
.LaptopPageInfoTable {
    width: 100%;
=======
>>>>>>> 405ef563bbaab54065b22971f3144edb1d6e0898
    display: flex;
    /* background-color: #ff0000; */
}
.LaptopPageInfoTable {
    width: 50%;
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
>>>>>>> 405ef563bbaab54065b22971f3144edb1d6e0898
    overflow-x: scroll !important;
    height: 100vh;
    /* background-color: rgb(119, 0, 255); */
}
.mySwiperInfo {
    height: 45%;
    width: 40%;
}
.mySwiperInfo2 .swiper-slide {
    /* height: 50%; */
    width: 100%;
    opacity: 0.4;
}
.mySwiperInfo2 .swiper-slide-thumb-active {
    opacity: 1;
}
.mySwiper2 img {
    width: 50%;
    height: 100%;
}
.mySwiperInfo img {
    display: block;
    /* height: 100%; */
    /* height: 50vh; */
    object-fit: cover;
}
.swiper-button-next,
.swiper-button-prev {
    color: #ffb5b5;
}
<<<<<<< HEAD
=======
<<<<<<< Updated upstream
.LaptopPageInfoSlidethumb {
    width: 60%;
    height: auto;
    display: flex;
    cursor: pointer;
=======
>>>>>>> 405ef563bbaab54065b22971f3144edb1d6e0898
.LaptopPageInfoSlidethumb img {
    border: 1px solid black;
    padding: 10px;
}
.LaptopPageInfoSlidethumb {
    width: 20%;
    height: auto;
    cursor: pointer;
    justify-content: left;
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
>>>>>>> 405ef563bbaab54065b22971f3144edb1d6e0898
}
.LaptopPageInfoSlidethumbMain img {
    width: 100%;
}
.LaptopPageInfoSlidethumbMain {
<<<<<<< HEAD
    width: 100%;
=======
<<<<<<< Updated upstream
    width: 65%;
=======
    width: 100%;
>>>>>>> Stashed changes
>>>>>>> 405ef563bbaab54065b22971f3144edb1d6e0898
}
.LaptopPageInfoTablebutton {
    position: absolute;
    right: 1%;
}
.LaptopPageInfoTablebutton .fa-xmark {
    font-size: 35px;
}

<<<<<<< HEAD
=======
<<<<<<< Updated upstream
=======
>>>>>>> 405ef563bbaab54065b22971f3144edb1d6e0898

.LaptopPageInfoSlide.page-loaded {
    background-color: red;
}

<<<<<<< HEAD
=======
>>>>>>> Stashed changes
>>>>>>> 405ef563bbaab54065b22971f3144edb1d6e0898
.customThumbSlideClass.selected {
    border: 1px solid red;
}
.LaptopPageInfoTableMain {
<<<<<<< HEAD
=======
<<<<<<< Updated upstream
    border: 1px solid #ddd;
}
.LaptopPageInfoTableMain tbody > tr {
=======
>>>>>>> 405ef563bbaab54065b22971f3144edb1d6e0898
    color: rgb(0, 0, 0);
    background-color: #c3c3c3;
    text-align: center;
    border: 1px solid #ddd;
}
.LaptopPageInfoTableMain tbody > tr {
    
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
>>>>>>> 405ef563bbaab54065b22971f3144edb1d6e0898
    border: 1px solid #ddd;
}

.LaptopPageInfoTableMain tbody tr td {
    border-right: 1px solid #ddd;
<<<<<<< HEAD
    padding: 10px;

=======
<<<<<<< Updated upstream
=======
    padding: 10px;

>>>>>>> Stashed changes
>>>>>>> 405ef563bbaab54065b22971f3144edb1d6e0898
}

.button_btn_container___LWS5 {
    color: #fff;
    border-radius: 34px;
    background-color: #fe1b1b;
    transition: all 0.2s ease-in-out;
    border: none;
    font-size: 18px;
    margin-top: 20px;
}

.button_loading_button__U3XYZ {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 40px;
    width: 100%;
}

@media only screen and (max-width: 767px) {
<<<<<<< HEAD
=======
<<<<<<< Updated upstream
    .LaptopPagerightside{
        width: 100%;
        padding: 10px;
    }
    .LaptopPageimage{
        display: none;
    }
    .LaptopPageDesktopsMain{
        padding: 0;
    }
    .snize-thumbnail{
        height: 100px;
    }
    .LaptopPageDesktopsMain{
        display: block;
    }
    .LaptopPageImageClicka{
        padding-top: 50px;
    width: 100%;

        display: flex !important; 
        overflow-y: scroll;
        background-color: #ffffff;
    }
    .LaptopPageInfoTableMain{
        width: 100%;
    }
    .showFullSpecClick12{
        display: none;
    }
}
.LaptopPageImageClicka{
    display: none;

=======
>>>>>>> 405ef563bbaab54065b22971f3144edb1d6e0898
    .LaptopPagerightside {
        width: 100%;
        padding: 10px;
    }
    .LaptopPageimage {
        width: 100%;
    }
    .LaptopPageimagegallery {
        width: 50%;
    }
    .LaptopPageDesktopsMain {
        padding: 0;
    }
    .snize-thumbnail {
        height: 100px;
    }
    .LaptopPageDesktopsMain {
        display: block;
    }
    .LaptopPageImageClicka {
        padding-top: 50px;
        width: 100%;

        display: flex !important;
        overflow-y: scroll;
        background-color: #ffffff;
    }
    .LaptopPageInfoTableMain {
        width: 100%;
    }
    .showFullSpecClick12 {
        display: none;
    }
    .LaptopPageimage{
        display: none !important;
    }
}
.LaptopPageImageClicka {
    display: none;
}
.LaptopFilter1212 {
    position: absolute;
    top: 20%;
    right: 14%;
}
.success-message {
    /* Buraya başarı mesajı div'inin stilini ekleyin */

    color: black;
    position: absolute;
    width: 100%;
    background-color: red;
    font-size: 30px;
}
.sortSelect{
    color: black;
}
.LaptopFilter1212 label{
    color: white;
<<<<<<< HEAD
=======
>>>>>>> Stashed changes
>>>>>>> 405ef563bbaab54065b22971f3144edb1d6e0898
}